* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

#board {
    background: url('./grass2.jpg');
    border-radius: 5px;
    /* color: rgb(65, 50, 30); */
}

#score {
    margin-bottom: 5px;
    background: #f0f0f0;
    border-radius: 5px;
}

#result {
    margin-top: 10px;
    background: #f0f0f0;
    border-radius: 5px;
    opacity: 0;
}